[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DAP"]
	path = DAP
	url = https://github.com/irinagain/dap
[submodule "MGSDA"]
	path = MGSDA
	url = https://github.com/cran/MGSDA
[submodule "iglu"]
	path = iglu
	url = https://github.com/irinagain/iglu
[submodule "mixedCCA"]
	path = mixedCCA
	url = https://github.com/irinagain/mixedcca
